<h2>Εκ νέου αποστολή οδηγιών για ξεκλείδωμα του λογαριασμού</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Διεύθυνση ηλεκτρονικού ταχυδρομείου" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Αποστολή οδηγιών" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
