<h2>Ξεχάσατε τον κωδικό σας;</h2>

<%= form_for(resource, :as => @email, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Στείλε μου οδηγίες ανάκτησης του κωδικού" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
